<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>{{ .Site.Title }}</title>
    <meta name="description" content="{{ $.Site.Params.description }}" />
    <link rel="icon" href="{{ $.Site.Params.favicon | relURL }}">
    <link rel="apple-touch-icon" sizes="180×180" href="./apple-touch-icon-180×180.png">


    <link rel="stylesheet" href="{{ "css/destyle.css" | relURL }}">
    <link rel="stylesheet" href="{{ "css/style.css" | relURL }}">
    <link rel="stylesheet" href="{{ "css/custom.css" | relURL }}">
</head>